<!DOCTYPE html>
<html>
  <head>
    <style>
      h1 {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
      }

      p {
        font-size: 18px;
        margin: 10px 0;
      }

      a {
        color: blue;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
<!-- yoo     o-->
  <body>
    <h1>{{ mymember.firstname }} {{ mymember.lastname }}</h1>

    <p>Phone: {{ mymember.phone }}</p>
    <p>Member since: {{ mymember.joined_date }}</p>

    <p>Back to <a href="/members">Members</a></p>
  </body>
</html>