  <head>
    <meta charset="UTF-8">
    <title>Choisir une action</title>
  </head>
  <body>
    <p>Choisissez une action :</p>
    <form method="POST">
      {% csrf_token %}
      <label for="action">Action :</label>
      <select name="action" id="action">
        <option value="AAPL">Apple Inc. (AAPL)</option>
        <option value="MSFT">Microsoft Corporation (MSFT)</option>
        <option value="GOOGL">Alphabet Inc. (GOOGL)</option>
        <option value="AMZN">Amazon.com, Inc. (AMZN)</option>
        <option value="Meta">Meta (Meta)</option>
        <option value="TSLA">Tesla, Inc. (TSLA)</option>
        <option value="V">Visa Inc. (V)</option>
        <option value="DIS">Walt Disney Co. (DIS)</option>
        <option value="KO">Coca-Cola Co. (KO)</option>
        <option value="WMT">Walmart Inc. (WMT)</option>
        <option value="MCD">McDonald's Corp. (MCD)</option>
        <option value="BA">The Boeing Co. (BA)</option>
        <option value="IBM">IBM Corporation (IBM)</option>
      </select>
      <br><br>
      <input type="submit" name="type" value="Chercher">

    </form>
  </body>
</html>